table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
  padding: 3px;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-size: 11px;
}
